:root {
  --default-button-color: #5c715e;
}

.about-page {
  background-color: #f2f9f1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.header-content {
  background: #f2f9f1;
  text-align: center;
  padding: 80px 0;
}

.header-content h3 {
  font-size: 50px;
}

.header-content h1 {
  font-size: 100px;
}

.larger-pfont-size {
  font-size: 25px;
}

.btn-branding {
  background-color: var(--default-button-color);
  color: white;
  padding: 10px 8px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-branding:hover {
  background-color: #f2f9f1;
  color: var(--default-button-color);
  border: 2px solid var(--default-button-color);
}

.content-border {
  border: 5px solid #b6cdbd;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  background-color: #f2f9f1;
}

.app-title {
  font-size: 65px;
}

.app-p {
  font-size: 20px;
}

.headshot-img {
  margin: 50px;
  border-radius: 50px;
  box-shadow: 5px 5px #b6cdbd;
}

.project-img {
  box-shadow: 5px 5px 5px #b6cdbd;
}

.about-p {
  font-size: 20px;
}

.contact-link {
  color: #5c715e;
}

.contact-link:hover {
  text-decoration: none;
  color: #5c715e;
}

.contact-link:visited {
  color: #5c5470;
  text-decoration: overline;
}
