.header {
  background: #f2f9f1;
  text-align: center;
  padding: 100px 0;
}

h3 {
  font-size: 50px;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 25px;
}

.btn-branding {
  background-color: #5c715e;
  color: white;
  padding: 10px 8px;
  border-radius: 3px;
}
